In [ ]:
def

In [5]:
len

In [9]:
y="mallareddy university"
y

'mallareddy university'

In [11]:
len(y)

21

In [ ]:
def functionname(parameter):
    block of code
    return output

In [26]:
def calArea(r):
    a=3.14*r*r
    return (a)

In [32]:
def aor(l,w):
    area=l*w
    return area

In [34]:
aor(w=5,l=10)

50

In [36]:
aor(l=10,w=5)

50

In [25]:
def area(rad,length,width):
    aoc=3.14*rad*rad
    aor=length*width
    return aoc,aor
    return print(f"The Area of circle is {aoc} \nArea of Rectangle is {aor}")

In [27]:
area(rad=10,length=20,width=5)

(314.0, 100)

In [31]:
t='Hyderabad 500008 Telangana'
t

'Hyderabad 500008 Telangana'

In [39]:
def countA(x):
    d=x.lower()
    return d.count('a')

In [41]:
countA(t)

5

In [ ]:
def count_no(t)
    alphabets = 0
    numbers = 0
    for i in t:
        if (i.isalnum())
        alpabets = alphabets